# Виртуальное окружение Python
venv/

# pycache
**/__pycache__

#mypy
.mypy_cache/

# Frontend зависимости
/node_modules/

# Собранные файлы
/dist/
/build/

# Файлы среды разработки
.env
.app.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# infra
./infra/.terraform/
*.tfvars
*.tfvars.json
./infra/crash.log
./infra/override.tf
./infra/override.tf.json
*_override.tf
*_override.tf.json

# Директории редакторов и инструментов
#.idea/
#.vscode/
#*.swp
#*.swo